@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
/* root */

:root {
    --fs-30: 30px;
    --fs-40: 40px;
    --fs-20: 20px;
}

/* navbar */
ul li a {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    color: rgba(255, 255, 255, 1);
}

a {
    text-decoration: none !important;
}

.logo-image {
    width: 100% !important;
    text-align: center !important;
    margin: 0 auto;
    left: 0;
    position: absolute;
    padding-top: 19px;
}

.gap-50 {
    gap: 260px !important;
}

.list-unstyled {
    padding-top: 20px !important;
}

/* hero-section */
.hero-section {
    background-image: url(../image/png/background-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 30px;
}

.hero-section .container {
    max-width: 1140px !important;
}

.main-heading {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 64px;
    /* font-size: var(--fs); */
    font-weight: 800;
    line-height: 76.8px;
    text-align: left !important;
    color: rgba(255, 255, 255, 1);
    max-width: 588px !important;
}

.flex-grow {
    flex-grow: 1 !important;
}

footer {
    padding-right: 120px;
}

footer a svg {
    margin-right: 10px;
}

.watch-v {
    color: rgba(255, 255, 255, 1);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.16px;
    letter-spacing: 0.05em;
}

/* bongo-section */

.bongo-section {
    min-height: 100vh;
}

.bongo-section .container {
    max-width: 1140px !important;
}

.line {
    width: 87px;
    border: 1px solid rgba(9, 8, 8, 1);
    margin: 3px;
    display: inline-block;
}

.about {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.9px;
    color: rgba(9, 8, 8, 1);
    max-width: 547px !important;
}

.heading-h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 57.6px;
    color: rgba(9, 8, 8, 1);
    padding-top: 13px;
    padding-bottom: 24px;

}

.bongo-section ul li {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    color: rgba(9, 8, 8, 1);
    opacity: 70%;
    padding-bottom: 5px;
}

.mb-24 {
    margin-bottom: 24px;
}

.see-btn {
    border: 1px solid rgba(9, 8, 8, 1);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 206px !important;
    height: 60px;
    line-height: 20.16px;
    color: rgba(9, 8, 8, 1);
    background-color: white;
    /* padding: 11px 24px 11px 24px; */
    margin-top: 30px;
}

/* service-section */
.service-section .container {
    max-width: 1140px !important;
}

.service {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.9px;
    color: rgba(9, 8, 8, 1);

}

.service-offer {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 57.6px;
    color: rgba(9, 8, 8, 1);
    padding-bottom: 60px;
    padding-top: 13px;
}

.see-service {
    border: 1px solid rgba(9, 8, 8, 1);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 20.16px;
    color: rgba(9, 8, 8, 1);
    background-color: white;
    padding: 11px 24px 11px 24px;
}

.card-1 {
    background-image: url(../image/png/card-img-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100% !important;
    height: 471px;
    padding: 417px 234px 20px 20px;
}

.card-2 {
    background-image: url(../image/png/Frame.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100% !important;
    height: 471px;
    padding: 417px 234px 20px 20px;


}

.card-3 {
    background-image: url(../image/png/Frame-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100% !important;
    height: 471px;
    padding: 417px 234px 20px 20px;

}

.card-text {
    font-family: "Plus Jakarta Sans";
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;

}

/* project-section */
.lighting-image {
    background-image: url(../image/png/lighting-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-left: 60px;
    padding-right: 108px;
}

.Conrad-Hotel {
    padding-left: 60px;
    padding-right: 108px;
    padding-top: 59px;
    padding-bottom: 59px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.const {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);

}

.hore {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    opacity: 80%;
    color: rgba(9, 8, 8, 1);
}

.white-line {
    width: 87px;
    border: 1px solid rgba(255, 255, 255, 1);
    margin: 3px;
    display: inline-block;
}

.light-line {
    width: 87px;
    border: 1px solid rgba(0, 0, 0, 1);
    opacity: 80%;
    margin: 3px;
    display: inline-block;
}

.aspire {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    color: rgba(255, 255, 255, 1);

}

.hotel-standard {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    color: rgba(58 58 58);

}

/* tangible-section */
.tangible-section .container {
    max-width: 1140px !important;
}

.card-box {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 18px;
}

.text {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.7px;
    color: rgba(9, 8, 8, 1);
    opacity: 80%;
}

.number {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 57.6px;
    color: rgba(9, 8, 8, 1);
    padding-top: 39px;
}

.black-circle {
    border: 1.3px solid rgba(0, 0, 0, 0.3);
    border-radius: 51.85px;
    width: 70px;
    height: 70px;
    padding: 19.04px 14.2px 18px 15px;

}

/* form-section */
.form-section .container {
    max-width: 1140px !important;
}

input[type="first-name"] {
    width: 555px;
    height: 58px;
    padding: 18px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.7px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

input[type="last-name"] {
    width: 555px;
    height: 58px;
    padding: 18px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.7px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

::placeholder {
    color: rgba(9, 8, 8, 1);
    opacity: 80%;
}

textarea[name="message"] {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.7px;
    color: rgba(9, 8, 8, 1);
    padding: 18px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 162px;
}

textarea {
    resize: none !important;
}

/* section {
    padding: 60px;
}

.line {
    width: 87px;
    border: 1px solid rgba(9, 8, 8, 1);
    margin: 3px;
    display: inline-block;
}

.talk {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.9px;
    text-align: center;
    color: rgba(9, 8, 8, 1);

}

.heading-h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 57.6px;
    text-align: left;
    color: rgba(9, 8, 8, 1);

}

input[type="first-name"] {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.7px;
    opacity: 80%;
    color: rgba(9, 8, 8, 1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 18px !important;
    width: 100%;
    max-width: 555px !important;
    margin-right: 40px;
}


input[type="last-name"] {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.7px;
    opacity: 80%;
    color: rgba(9, 8, 8, 1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 18px !important;
    width: 100%;
    max-width: 555px !important;
} */

/* media quary */

@media (max-width:768px) {

    .main-heading {

        font-size: var(--fs-30);
    }
}

@media (max-width:992px) {
    .bongo-section {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    ul {
        flex-direction: column !important;
        justify-content: center !important;
    }

    label[for="menu"] {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 3;
    }


    label[for="menu"]>span {
        width: 100%;
        height: 3px;
        background-color: white;
        z-index: 2;

    }

    input#menu:checked~.ul-modify {
        background-color: black;
        right: 0;
    }

    input:checked~label[for="menu"]>span:nth-child(1) {
        transform: rotate(64deg);
        transform-origin: left;
    }

    input:checked~label[for="menu"]>span:nth-child(2) {
        transform: rotate(-40deg);
        opacity: 0;

    }

    input:checked~label[for="menu"]>span:nth-child(3) {
        transform: rotate(-63deg);
        transform-origin: left;
    }

    .ul-modify {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: black;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 1;
        transition: all 200ms linear;
    }
}